<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title th:text="${titulo}">Sismus</title>

    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/base.css}" rel="stylesheet">
    <link th:href="@{/css/layout.css}" rel="stylesheet">

</head>
<body>

<button class="menu-toggle" onclick="toggleMenu()">☰</button>

<div class="container-fluid">
    <div class="row g-0">

        <!-- Sidebar -->
        <div class="col-12 col-md-2 sidebar" id="sidebar">
            <div>
                <img th:src="@{/images/sismus_logo.jpg}" alt="Sismus Logo" class="logo">

                <a th:href="@{/}">Inicio</a>
                <a th:href="@{/usuario/perfil}">Perfil</a>
                <a th:href="@{/buscar}">Buscar</a>
                <a th:href="@{/playlists}">Tus Playlists</a>
                <hr class="text-secondary">
                <a th:href="@{/favoritos}">Tus Favoritos</a>
                <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <hr class="text-secondary">
                    <a th:href="@{/admin/canciones}">Administrar Canciones</a>
                </div>
            </div>

            <!-- Boton de Cerrar sesión fijo abajo -->
            <div class="logout-container" th:if="${#authorization.expression('isAuthenticated()')}">
                <form th:action="@{/logout}" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <button type="submit" class="btn btn-instagram mt-2">Cerrar sesión</button>
                </form>
            </div>
        </div>

        <!-- Contenido dinamico -->
        <div class="col-12 col-md-10">
            <div class="content-area">
                <div th:replace="~{${contenido} :: fragment}"></div>
            </div>
        </div>
    </div>
</div>

<!-- Reproductor fijo en la parte inferior -->
<!--<div class="player text-center">-->
<!--    <p class="mb-0">🎵 Reproduciendo: Canción Ejemplo - Artista</p>-->
<!--</div>-->

<script th:src="@{/bootstrap/js/jquery-3.6.3.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>
